article {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body {
    background: rgb(237, 237, 237);
    color: rgb(50, 50, 50);
    margin: 1rem 30em 0 30rem;
}

img.city {
    width: 600px;
    height: 500px;
}

ul.circles {
    font-size: 18px;
}
