article {
    font-size: 18px;
    font-family: Arial, sans-serif;
    width: 60%;
    align-content: center;
}

body {
    background: rgb(237, 237, 237);
    display: flex;
    color: rgb(50, 50, 50);
    align-items: center;
    position: center;
    justify-content: center;
}

img.city {
    width: 600px;
    height: 500px;
}

ul.circles {
    font-size: 18px;
}
